$blueShade : #064e8a;
$textColor : #f0ebe9;

html,
body {
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  color: $textColor;
  padding: 0;
  margin: 0;
  background: $blueShade;
}

.main-container{
  // display: flex;
  // flex-direction: column;
  // align-items: stretch;
  // position: relative;
  width: auto;
  min-width: auto;
  // margin: 0 0 0 0;
  @media(max-width: 90rem){
    width: 80rem;
    min-width: 80rem;
  }
  @media(max-width: 80rem){
    width: 61rem;
    min-width: 61rem;
  }
  @media(max-width: 61rem){
    width: 48rem;
    min-width: 48rem;
  }
  .container-1{
    display: flex;
    justify-content: space-between;
    background-image: url('../images/espresso-cup.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 45rem;
    width: 100%;
    .navigation{
      flex: 1;
      margin: 35px 0 0 30px;
      nav ul{
        list-style-type: none;
        a{
          font-weight: 450;
          margin: 0px;
          text-decoration: none;
          color: black;
        }
        a:hover {
          color: $blueShade
        }
      }   
    }
    .titleCard{
      flex: 1;
      background: $blueShade;
      opacity: 0.5;
      width: 31.25rem;
      height: 42rem;
      // min-height: 700px;
      border-radius: 20px;
      margin: 50px auto 0px 50px;
      padding: 15px;
      .text-container{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 650px;
        margin: 20px auto auto auto;
        text-align: center;
        .card-content{
          font-size: 1.2em;
        }
        .menu-list{
          list-style-type: none;
          text-align: justify;
        }
      }
    }
    .socialMenu{
      flex: 1;
      margin: 30px 30px 0 0
    }
    .socialMenu {
      a{
      margin: 15px;
      }
    } 
  }

  .container-2{
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap-reverse;
    justify-content: center;
    border-top: #242020 4px solid;
    margin: 30px 100px 10px 100px;
    .ig-column{
      margin: 30px 5px auto 0px;
      width: 375px;
      .ig-img{
        margin: 8px;
        max-height: 300px;
        max-width: 300px;
        overflow: hidden;
      }
    }
    .reviews-column{
      margin: 30px auto auto 0px;
      width: 375px;
      justify-content: right;
      // display: flex;
      // justify-content: center;
    }
  }
}

